/* .themify_builder_11_row.module_row_0 Style */
.themify_builder_11_row.module_row_0.module_row {
	background-image: url(../2019/04/Bike1.png);
	background-color: #302f2f;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px
}
.themify_builder_11_row.module_row_0.module_row>.builder_row_cover {
	background: -moz-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: -webkit-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: -o-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: -ms-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);

}

.themify_builder .text-11-0-0-1.module-text { color: #1a1818; padding-top: 37%; padding-bottom: 350px;  } 
.themify_builder .text-11-0-0-1.module-text h1 { color: #1a1818;  } 
.themify_builder .text-11-0-0-1.module-text h2 { color: #1a1818;  } 
.themify_builder .text-11-0-0-1.module-text h3:not(.module-title) { color: #1a1818;  } 
.themify_builder .text-11-0-0-1.module-text h4 { color: #1a1818;  } 
.themify_builder .text-11-0-0-1.module-text h5 { color: #1a1818;  } 
.themify_builder .text-11-0-0-1.module-text h6 { color: #1a1818;  } 
.themify_builder .text-11-0-0-1.module.module-text h1 { color: #ebebeb;  } 
/* .themify_builder_11_row.module_row_1 Style */
.themify_builder_11_row.module_row_1.module_row {
	background-color: #1f1d1d;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px
}
.themify_builder_11_row.module_row_1.module_row>.builder_row_cover {
	background: -moz-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: -webkit-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: -o-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: -ms-linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);
background: linear-gradient(180deg,rgba(0, 0, 0, 0.408) 0%, rgba(255, 255, 255, 0.11) 17%);

}

.themify_builder .text-11-1-0-1.module-text { color: #1a1818; padding-top: 20%; padding-bottom: 20px;  } 
.themify_builder .text-11-1-0-1.module-text h1 { color: #1a1818; font-size: 120%;  } 
.themify_builder .text-11-1-0-1.module-text h2 { color: #1a1818;  } 
.themify_builder .text-11-1-0-1.module-text h3:not(.module-title) { color: #1a1818;  } 
.themify_builder .text-11-1-0-1.module-text h4 { color: #1a1818;  } 
.themify_builder .text-11-1-0-1.module-text h5 { color: #1a1818;  } 
.themify_builder .text-11-1-0-1.module-text h6 { color: #1a1818;  } 
.themify_builder .text-11-1-0-1.module.module-text h1 { color: #ebebeb;  } 
/* .themify_builder_11_row.module_row_2 Style */
.themify_builder_11_row.module_row_2.module_row {
	background-image: url(../2018/03/DSC_0323.jpg);
	background-color: #c7c7c7
}

/* .module_row_2 .module_column_0.tb_11_column Style */
.module_row_2 .module_column_0.tb_11_column.module_column {
	padding-top : 20px
}

.themify_builder .text-11-2-0-1.module-text h2 { font-size: 30px;  } 
.themify_builder .text-11-2-0-1.module.module-text h2 { font-family: Raleway; color: #f0f0f0;  } 
.themify_builder .text-11-2-0-1.module.module-text h3 { color: #f0f0f0;  } 
.themify_builder .text-11-2-0-1.module-text h3 { font-size: 25px;  } 
.themify_builder .buttons-11-2-0-2 div.module-buttons { padding-top: 2%;  } 
.themify_builder .buttons-11-2-0-2 .module-buttons .module-buttons-item a { background-color: #006fd6; background-color: rgba(0,111,214, 0.98);  } 
.themify_builder .buttons-11-2-0-2 .module-buttons .module-buttons-item a:hover { background-color: #11d1db; background-color: rgba(17,209,219, 0.96);  } 
.themify_builder .image-11-2-1-1.module-image { padding-top: 4%; padding-right: 4%; padding-bottom: 4%; padding-left: 4%;  } 
/* .themify_builder_11_row.module_row_3 Style */
.themify_builder_11_row.module_row_3.module_row {
	background-color: #f7f7f7
}

/* .module_row_3 .module_column_0.tb_11_column Style */
.module_row_3 .module_column_0.tb_11_column.module_column {
	background-color: #f7f7f7;
	padding-top : 4%;
	padding-bottom : 4%
}

.sub_column.sub_column_post_11.sub_column_3-0-1-0{width:52.673%;}.themify_builder .image-11-sub_row_3-0-1-0-0.module-image { padding-top: 2%; padding-bottom: 4%;  } 
/* .sub_column_post_11.sub_column_3-0-1-1 Style */
.sub_column_post_11.sub_column_3-0-1-1.sub_column {
	text-align: left
}

.sub_column.sub_column_post_11.sub_column_3-0-1-1{width:44.1278%;}.themify_builder .text-11-sub_row_3-0-1-1-0.module-text { color: #3b3b3b; font-size: 16px; line-height: 40%; text-align: center; padding-top: 2%;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module-text h1 { color: #3b3b3b; font-size: 30px; line-height: 2em;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module-text h2 { color: #3b3b3b;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module-text h3:not(.module-title) { color: #3b3b3b;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module-text h4 { color: #3b3b3b;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module-text h5 { color: #3b3b3b;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module-text h6 { color: #3b3b3b; font-size: 21px; line-height: 135%;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module.module-text h1 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_3-0-1-1-0.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .themify_builder_11_row.module_row_4 Style */
.themify_builder_11_row.module_row_4.module_row {
	background-image: url(../2017/04/imageedit_2_9831213336.jpg);
	padding-top : 4%;
	padding-bottom : 4%
}

.module_row_4 .module_column_0.tb_11_column{width:35.5132%;}.themify_builder .box-11-4-0-1.module-box h1 { font-size: 30px;  } 
.themify_builder .box-11-4-0-1.module-box h6 { font-size: 21px;  } 
.themify_builder .box-11-4-0-1.module-box .module-box-content { padding-bottom: 3em; padding-left: 6%;  } 
.themify_builder .box-11-4-0-1.module.module-box h1 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .box-11-4-0-1.module.module-box h6 { font-family: Raleway; color: #4d4d4d;  } 
.module_row_4 .module_column_1.tb_11_column{width:61.2877%;}.themify_builder .image-11-4-1-1.module-image { border-top-color: #ffffff; border-top-color: rgba(255,255,255, 0.00); border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-color: rgba(255,255,255, 0.00); border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-color: rgba(255,255,255, 0.00); border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-color: rgba(255,255,255, 0.00); border-left-width: 2px; border-left-style: solid;  } 
/* .themify_builder_11_row.module_row_5 Style */
.themify_builder_11_row.module_row_5.module_row {
	padding-bottom : 5%
}

/* .module_row_5 .module_column_0.tb_11_column Style */
.module_row_5 .module_column_0.tb_11_column.module_column {
	padding-top : 0%;
	padding-right : 0%;
	padding-bottom : 0%;
	padding-left : 0%
}

.themify_builder .text-11-5-0-1.module-text { padding-top: 7%; padding-bottom: 3%; margin-top: -2%;  } 
.themify_builder .text-11-5-0-1.module-text h1 { font-size: 30px; line-height: 20%;  } 
.themify_builder .text-11-5-0-1.module-text h6 { font-size: 40px;  } 
.themify_builder .text-11-5-0-1.module.module-text h1 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-5-0-1.module.module-text h6 { font-family: Raleway; color: #525252;  } 
/* .sub_column_post_11.sub_column_5-0-2-0 Style */
.sub_column_post_11.sub_column_5-0-2-0.sub_column {
	padding-right : 2%;
	padding-left : 17%
}

.themify_builder .text-11-sub_row_5-0-2-0-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-2-0-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-2-0-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-2-0-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-2-0-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-2-1 Style */
.sub_column_post_11.sub_column_5-0-2-1.sub_column {
	padding-right : 9.5%;
	padding-left : 9.5%
}

.themify_builder .text-11-sub_row_5-0-2-1-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-2-1-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-2-1-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-2-1-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-2-1-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-3-0 Style */
.sub_column_post_11.sub_column_5-0-3-0.sub_column {
	padding-top : 2%;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-11-sub_row_5-0-3-0-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-3-0-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-3-0-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-3-0-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-3-0-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-3-1 Style */
.sub_column_post_11.sub_column_5-0-3-1.sub_column {
	padding-top : 2%;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-11-sub_row_5-0-3-1-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-3-1-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-3-1-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-3-1-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-3-1-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-3-2 Style */
.sub_column_post_11.sub_column_5-0-3-2.sub_column {
	padding-top : 2%;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-11-sub_row_5-0-3-2-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-3-2-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-3-2-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-3-2-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-3-2-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-3-3 Style */
.sub_column_post_11.sub_column_5-0-3-3.sub_column {
	padding-top : 2%;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-11-sub_row_5-0-3-3-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-3-3-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-3-3-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-3-3-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-3-3-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-3-4 Style */
.sub_column_post_11.sub_column_5-0-3-4.sub_column {
	padding-top : 2%;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-11-sub_row_5-0-3-4-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-3-4-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-3-4-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-3-4-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-3-4-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_5-0-3-5 Style */
.sub_column_post_11.sub_column_5-0-3-5.sub_column {
	padding-top : 2%;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-11-sub_row_5-0-3-5-1.module-text { padding-top: 4%;  } 
.themify_builder .text-11-sub_row_5-0-3-5-1.module-text h5 { font-size: 16px;  } 
.themify_builder .text-11-sub_row_5-0-3-5-1.module-text h6 { font-size: 14px;  } 
.themify_builder .text-11-sub_row_5-0-3-5-1.module.module-text h5 { font-family: Raleway; color: #4d4d4d;  } 
.themify_builder .text-11-sub_row_5-0-3-5-1.module.module-text h6 { font-family: Raleway; color: #4d4d4d;  } 
/* .themify_builder_11_row.module_row_6 Style */
.themify_builder_11_row.module_row_6.module_row {
	background-image: url(../2017/04/P1040443.jpg)
}
.themify_builder_11_row.module_row_6.module_row>.builder_row_cover {
	background:rgba(0,0,0, 0.20)
}
.themify_builder_11_row.module_row_6.module_row>.builder_row_cover:before {
	background:rgba(0,0,0, 0.64)
}

.themify_builder .video-11-6-0-1.module-video .video-content { text-align: center;  } 
.themify_builder .video-11-6-0-1.module-video { padding-top: 5%; padding-right: 6%; padding-bottom: 5%; padding-left: 6%;  } 
/* .themify_builder_11_row.module_row_7 Style */
.themify_builder_11_row.module_row_7.module_row {
	padding-top : 10%;
	padding-right : 10%;
	padding-bottom : 10%;
	padding-left : 10%
}

.themify_builder .text-11-7-0-1.module-text { padding-top: 10%;  } 
.themify_builder .text-11-7-0-1.module-text h1 { font-size: 30px; line-height: 20%;  } 
.themify_builder .text-11-7-0-1.module.module-text h1 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_7-0-2-0 Style */
.sub_column_post_11.sub_column_7-0-2-0.sub_column {
	padding-top : 10%;
	padding-right : 10%;
	padding-bottom : 10%;
	padding-left : 10%
}

.themify_builder .image-11-sub_row_7-0-2-0-0.module-image { padding-top: 0%; padding-right: 0%; padding-bottom: 0%; padding-left: 0%;  } 
/* .sub_column_post_11.sub_column_7-0-2-1 Style */
.sub_column_post_11.sub_column_7-0-2-1.sub_column {
	padding-top : 10%;
	padding-right : 10%;
	padding-bottom : 10%;
	padding-left : 10%
}

.themify_builder .image-11-sub_row_7-0-2-1-0.module-image { padding-top: 0%; padding-right: 0%; padding-bottom: 0%; padding-left: 0%;  } 
/* .sub_column_post_11.sub_column_7-0-2-2 Style */
.sub_column_post_11.sub_column_7-0-2-2.sub_column {
	padding-top : 10%;
	padding-right : 10%;
	padding-bottom : 10%;
	padding-left : 10%
}

/* .sub_column_post_11.sub_column_7-0-2-3 Style */
.sub_column_post_11.sub_column_7-0-2-3.sub_column {
	padding-top : 10%;
	padding-right : 10%;
	padding-bottom : 10%;
	padding-left : 10%
}

.themify_builder .image-11-sub_row_7-0-2-3-0.module-image { padding-left: 10px;  } 
.themify_builder .text-11-8-0-1.module-text { padding-top: 10%;  } 
.themify_builder .text-11-8-0-1.module-text h1 { font-size: 30px; line-height: 20%;  } 
.themify_builder .text-11-8-0-1.module.module-text h1 { font-family: Raleway; color: #4d4d4d;  } 
/* .sub_column_post_11.sub_column_8-0-2-0 Style */
.sub_column_post_11.sub_column_8-0-2-0.sub_column {
	padding-top : 0%;
	padding-right : 0%;
	padding-bottom : 0%;
	padding-left : 5%
}

.themify_builder .image-11-sub_row_8-0-2-0-0.module-image { padding-top: 0%; padding-right: 0%; padding-bottom: 0%; padding-left: 0%;  } 
/* .sub_column_post_11.sub_column_8-0-2-1 Style */
.sub_column_post_11.sub_column_8-0-2-1.sub_column {
	padding-top : 0%;
	padding-right : 5%;
	padding-bottom : 0%;
	padding-left : 5%
}

/* .sub_column_post_11.sub_column_8-0-2-2 Style */
.sub_column_post_11.sub_column_8-0-2-2.sub_column {
	padding-top : 0%;
	padding-right : 5%;
	padding-bottom : 0%;
	padding-left : 0%
}

/* .sub_column_post_11.sub_column_8-0-2-3 Style */
.sub_column_post_11.sub_column_8-0-2-3.sub_column {
	padding-right : 5%
}

/* .sub_column_post_11.sub_column_8-0-3-0 Style */
.sub_column_post_11.sub_column_8-0-3-0.sub_column {
	padding-top : 0%;
	padding-right : 0%;
	padding-bottom : 0%;
	padding-left : 5%
}

.themify_builder .image-11-sub_row_8-0-3-0-0.module-image { padding-top: 0%; padding-right: 0%; padding-bottom: 10%; padding-left: 0%;  } 
/* .sub_column_post_11.sub_column_8-0-3-1 Style */
.sub_column_post_11.sub_column_8-0-3-1.sub_column {
	padding-top : 0%;
	padding-right : 5%;
	padding-bottom : 0%;
	padding-left : 5%
}

.themify_builder .image-11-sub_row_8-0-3-1-0.module-image { padding-left: 10px;  } 
/* .sub_column_post_11.sub_column_8-0-3-2 Style */
.sub_column_post_11.sub_column_8-0-3-2.sub_column {
	padding-top : 0%;
	padding-right : 5%;
	padding-bottom : 0%;
	padding-left : 0%
}

.themify_builder .image-11-sub_row_8-0-3-2-1.module-image { padding-bottom: 10px;  } 
.themify_builder .image-11-sub_row_8-0-3-3-0.module-image { padding-bottom: 10px;  } 
/* .themify_builder_11_row.module_row_9 Style */
.themify_builder_11_row.module_row_9.module_row {
	background-image: url(../2017/07/5-1-2-1024x683.jpg);
	background-color: #000000;
	background-color: rgba(0,0,0, 0.23);
	text-align: center;
	color: #ffffff;
	padding-top : 10%;
	padding-bottom : 10%
}
.themify_builder_11_row.module_row_9.module_row h1 {
	color: #ffffff
}
.themify_builder_11_row.module_row_9.module_row h2 {
	color: #ffffff
}
.themify_builder_11_row.module_row_9.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_11_row.module_row_9.module_row h4 {
	color: #ffffff
}
.themify_builder_11_row.module_row_9.module_row h5 {
	color: #ffffff
}
.themify_builder_11_row.module_row_9.module_row h6 {
	color: #ffffff
}
.themify_builder_11_row.module_row_9.module_row>.builder_row_cover {
	background:rgba(5,5,5, 0.18)
}
.themify_builder_11_row.module_row_9.module_row>.builder_row_cover:before {
	background:rgba(5,5,5, 0.35)
}

.themify_builder .icon-11-sub_row_9-0-2-0-0 div.module-icon .module-icon-item i { color: #000000;  } 
.themify_builder .icon-11-sub_row_9-0-2-1-0div.module-icon { color: #ffffff;  } 
.themify_builder .icon-11-sub_row_9-0-2-1-0 div.module-icon .module-icon-item i { color: #000000;  } 
.themify_builder .icon-11-sub_row_9-0-2-2-0div.module-icon { color: #ffffff;  } 
.themify_builder .icon-11-sub_row_9-0-2-2-0 div.module-icon .module-icon-item i { color: #ffffff;  } 
