.themify_builder .text-152-0-0-1.module-text { font-family: Raleway; padding-bottom: 1%; padding-left: 10%;  } 
.themify_builder .text-152-0-0-1.module-text h1 { font-family: Raleway; font-size: 40px;  } 
.themify_builder .text-152-0-0-1.module-text h2 { font-family: Raleway;  } 
.themify_builder .text-152-0-0-1.module-text h3:not(.module-title) { font-family: Raleway;  } 
.themify_builder .text-152-0-0-1.module-text h4 { font-family: Raleway;  } 
.themify_builder .text-152-0-0-1.module-text h5 { font-family: Raleway;  } 
.themify_builder .text-152-0-0-1.module-text h6 { font-family: Raleway;  } 
.themify_builder .text-152-0-0-1.module.module-text h1 { font-family: Raleway;  } 
.themify_builder .text-152-0-0-2.module-text { padding-left: 10%;  } 
.themify_builder .text-152-0-0-2.module-text h2 { font-size: 25px;  } 
.themify_builder .text-152-0-0-2.module.module-text h2 { font-family: Raleway; color: #3b3b3b;  } 
.themify_builder .text-152-0-0-3.module-text { padding-bottom: 4%; padding-left: 10%;  } 
.themify_builder .text-152-0-0-3.module.module-text h3 { font-family: Raleway;  } 
.themify_builder .text-152-0-0-3.module-text h3 { font-size: 21px;  } 
/* .themify_builder_152_row.module_row_1 Style */
.themify_builder_152_row.module_row_1.module_row {
	background-image: url(../2017/09/223.jpg)
}

/* .themify_builder_152_row.module_row_2 Style */
.themify_builder_152_row.module_row_2.module_row {
	background-image: url(../2017/09/223.jpg)
}

/* .themify_builder_152_row.module_row_3 Style */
.themify_builder_152_row.module_row_3.module_row {
	padding-top : 2%
}

.module_row_3 .module_column_0.tb_152_column{width:29.2147%;}.themify_builder .image-152-3-0-1.module-image { padding-top: 10%; padding-right: 10%; padding-bottom: 10%; padding-left: 10%;  } 
/* .module_row_3 .module_column_1.tb_152_column Style */
.module_row_3 .module_column_1.tb_152_column.module_column {
	padding-top : 30px
}

.module_row_3 .module_column_1.tb_152_column{width:67.5862%;}.themify_builder .text-152-3-1-1.module-text h2 { font-size: 25px;  } 
.themify_builder .text-152-3-1-2.module.module-text h3 { color: #4a4a4a;  } 
.themify_builder .text-152-3-1-2.module-text h3 { font-size: 15px;  } 
/* .themify_builder_152_row.module_row_4 Style */
.themify_builder_152_row.module_row_4.module_row {
	padding-top : 4%
}

.module_row_4 .module_column_0.tb_152_column{width:29.2147%;}.themify_builder .image-152-4-0-1.module-image { padding-top: 10%; padding-right: 10%; padding-bottom: 10%; padding-left: 10%;  } 
/* .module_row_4 .module_column_1.tb_152_column Style */
.module_row_4 .module_column_1.tb_152_column.module_column {
	padding-top : 30px
}

.module_row_4 .module_column_1.tb_152_column{width:67.5862%;}.themify_builder .text-152-4-1-1.module-text h2 { font-size: 25px;  } 
.themify_builder .text-152-4-1-2.module.module-text h3 { color: #4a4a4a;  } 
.themify_builder .text-152-4-1-2.module-text h3 { font-size: 15px;  } 
/* .themify_builder_152_row.module_row_5 Style */
.themify_builder_152_row.module_row_5.module_row {
	padding-top : 4%
}

.module_row_5 .module_column_0.tb_152_column{width:29.2147%;}.themify_builder .image-152-5-0-1.module-image { padding-top: 10%; padding-right: 10%; padding-bottom: 10%; padding-left: 10%;  } 
/* .module_row_5 .module_column_1.tb_152_column Style */
.module_row_5 .module_column_1.tb_152_column.module_column {
	padding-top : 30px
}

.module_row_5 .module_column_1.tb_152_column{width:67.5862%;}.themify_builder .text-152-5-1-1.module-text h2 { font-size: 25px;  } 
.themify_builder .text-152-5-1-2.module.module-text h3 { color: #4a4a4a;  } 
.themify_builder .text-152-5-1-2.module-text h3 { font-size: 15px;  } 
/* .themify_builder_152_row.module_row_6 Style */
.themify_builder_152_row.module_row_6.module_row {
	padding-top : 4%
}

.module_row_6 .module_column_0.tb_152_column{width:29.2147%;}.themify_builder .image-152-6-0-1.module-image { padding-top: 10%; padding-right: 10%; padding-bottom: 10%; padding-left: 10%;  } 
/* .module_row_6 .module_column_1.tb_152_column Style */
.module_row_6 .module_column_1.tb_152_column.module_column {
	padding-top : 30px
}

.module_row_6 .module_column_1.tb_152_column{width:67.5862%;}.themify_builder .text-152-6-1-1.module-text h2 { font-size: 25px;  } 
.themify_builder .text-152-6-1-2.module.module-text h3 { color: #4a4a4a;  } 
.themify_builder .text-152-6-1-2.module-text h3 { font-size: 15px;  } 
/* .themify_builder_152_row.module_row_7 Style */
.themify_builder_152_row.module_row_7.module_row {
	padding-top : 4%
}

.module_row_7 .module_column_0.tb_152_column{width:29.2147%;}.themify_builder .image-152-7-0-1.module-image { padding-top: 10%; padding-right: 10%; padding-bottom: 10%; padding-left: 10%;  } 
/* .module_row_7 .module_column_1.tb_152_column Style */
.module_row_7 .module_column_1.tb_152_column.module_column {
	padding-top : 30px
}

.module_row_7 .module_column_1.tb_152_column{width:67.5862%;}.themify_builder .text-152-7-1-1.module-text h2 { font-size: 25px;  } 
.themify_builder .text-152-7-1-2.module.module-text h3 { color: #424040;  } 
.themify_builder .text-152-7-1-2.module-text h3 { font-size: 15px;  } 
