/* .module_row_0 .module_column_0.tb_881_column Style */
.module_row_0 .module_column_0.tb_881_column.module_column {
	padding-bottom : 5%
}

.themify_builder .buttons-881-0-0-2 div.module-buttons { padding-top: 3%;  } 
.themify_builder .video-881-1-0-2.module-video { padding-top: 2%; padding-right: 15%; padding-bottom: 2%; padding-left: 15%;  } 
.themify_builder .video-881-2-0-2.module-video { padding-top: 2%; padding-right: 15%; padding-bottom: 2%; padding-left: 15%;  } 
